/src/main/java/org/telosys/history/Configuration.java
/target/
/.settings/
/.classpath
/.project

.idea
.idea*

*.iml

/src/main/resources/META-INF/webadmin.properties
/src/main/java/org/telosys/history/files
