.logo-telosys-min
{
    background-image : url('../logo.svg');
}

.user-info 
{
    margin-bottom: 25px;
}
.medium-icon
{
    vertical-align: middle;
    font-size: 3rem;
}
.statistics
{
    font-size: 1.4em;
}
.half-width {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}


.collapsible-header {
    margin-bottom: 10px;
}

.collapsible-body table {
    margin-bottom: 10px;
}

.bad-quota {
    color: #a21318;
}

.tabs .tab a {
    color: #1676db;
}

.tabs .tab a:hover {
    color: #1565ca;
}

.tabs .indicator {
    background-color: #1676db;
}