#set( $_= "$" )
##--------------------------------------------------------------------------------------------------------
'use strict';

// Add "endsWith" function to the String object
if (typeof String.prototype.endsWith !== 'function') {
    String.prototype.endsWith = function(suffix) {
        return this.indexOf(suffix, this.length - suffix.length) !== -1;
    };
}

// Declare app level module which depends on filters, and services
var myApp = angular.module('myApp', [
   'ngRoute'
  ,'ngResource' 
  ,'ngCookies'
  ,'i18n'
  ,'pascalprecht.translate'
  ,'tmh.dynamicLocale'
  ,'mgcrea.ngStrap.tooltip'
  ,'mgcrea.ngStrap.datepicker'
  ,'myApp.filters'
  ,'myApp.services'
  ,'myApp.directives'
  ,'messageHandler.module'
#foreach($entity in ${selectedEntities})
  ,'${fn.uncapitalize($entity.name)}.module'
#end
]);

/**
 * Main configuration
 */
myApp.config(['${_}routeProvider', function(${_}routeProvider) {
  ${_}routeProvider.when('/', {templateUrl: 'partials/welcome.html'});
  ${_}routeProvider.otherwise({redirectTo: '/'});
}]);
