<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/WEB-CONTENT/materialize/css/materialize.css}"/>
    <link rel="stylesheet" th:href="@{/WEB-CONTENT/css/main.css}"/>
</head>
<body th:fragment="foot">

<footer class="page-footer light-blue darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Telosys Web Admin</h5>
                <p class="grey-text text-lighten-4">Administration de Telosys SaaS.</p>
            </div>
            <!--<div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" th:href="@{/do/users}">Users</a></li>
                    <li><a class="grey-text text-lighten-3" th:href="@{/do/statistics}">Stats</a></li>
                </ul>
            </div>-->
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-3" href="http://www.telosys.org/">Telosys Tools project</a>
        </div>
    </div>
</footer>

</body>
</html>