<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/WEB-CONTENT/materialize/css/materialize.css}"/>
    <link rel="stylesheet" th:href="@{/WEB-CONTENT/css/main.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div th:include="header :: hnav"></div>


<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <h3 style="margin-top:0">Statistics</h3>
                    <div class="half-width">
                        <div class="statistics">
                            <i class="medium-icon material-icons">account_box</i>
                            <strong>Users : </strong><span th:text="${usersCount}"></span>
                        </div>
                        <div class="statistics">
                            <i class="medium-icon material-icons">folder_shared</i>
                            <strong>Projects : </strong><span th:text="${projectsCount}"></span>
                        </div>
                        <div class="statistics">
                            <i class="medium-icon material-icons">view_module</i>
                            <strong>Models : </strong><span th:text="${modelsCount}"></span>
                        </div>
                        <div class="statistics">
                            <i class="medium-icon material-icons">data_usage</i>
                            <strong>Disk usage : </strong><span th:text="${diskUsage}"></span> MB
                        </div>
                    </div>
                    <div class="half-width">
                        <div class="statistics">
                            <strong>Average projects / user : </strong>
                            <span th:text="${averageProjects}"></span>
                        </div>
                        <div class="statistics">
                            <strong>Average models / user : </strong>
                            <span th:text="${averageModels}"></span>
                        </div>
                        <div class="statistics">
                            <strong>Average disk usage / user : </strong>
                            <span th:text="${averageDiskUsage}"></span> MB
                        </div>
                    </div>
                    <span th:text="${filetype}"></span>
                    <div class="input-field col s4">
                        <select id="yearFilter" multiple="multiple">
                            <option value="" disabled="disabled" selected="selected">Choose year(s)</option>
                            <option th:each="i : ${#numbers.sequence(minYear, maxYear)}" th:value="${i}" th:text="${i}"></option>
                        </select>
                        <label>Materialize Select</label>
                    </div>
                    <!--<h4>Historic per month </h4>
                    <div><a id="choose-historic" class='dropdown-button btn' href='#' data-activates='historic-choices'>Choose
                        an historic</a></div>-->
                    <canvas id="historyChart" width="600" height="400"></canvas>
                    <!--<img style="width: 100%;height: auto" th:src="@{/WEB-CONTENT/img/ChartJS.png}"/>-->
                </div>

            </div>
        </div>
    </div>

</div>
<!--<ul id='historic-choices' class='dropdown-content'>
    <li><a href="#!" onclick="changeHistoric('Number of users')" class='historic-choice'>Number of users</a></li>
    <li><a href="#!" onclick="changeHistoric('Number of generations')" class='historic-choice'>Number of generations</a>
    </li>
    <li><a href="#!" onclick="changeHistoric('Number of created projects')" class='historic-choice'>Number of created
        projects</a></li>
</ul>-->
<div th:include="footer :: foot"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script type="text/javascript" th:src="@{/WEB-CONTENT/materialize/js/materialize.js}"></script>
<script type="text/javascript" th:src="@{/WEB-CONTENT/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/WEB-CONTENT/js/Chart.js}"></script>
<script type="text/javascript" th:src="@{/WEB-CONTENT/js/selectInitializer.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var timeFormat = 'MM/DD/YYYY HH:mm';
    var ctx = document.getElementById("historyChart").getContext("2d");
    var myLineChart = null;

    // prepare the ids of our series of data
    var averageDiskUsageId = "averageDiskUsage";
    var modelsCountId = "modelsCount";
    var usersCountId = "usersCount";
    var diskUsageId = "diskUsage";
    var projectsCountId = "projectsCount";
    var averageModelsId = "averageModels";
    var averageProjectsId = "averageProjects";

    // ChartPointList constructor
    function ChartPointList(jsonData, id) {
        var self = this;
        self.index = null;
        self.id = id;
        self.immutableData = jsonData;
        self.mutableData = jsonData;
        self.filterByYear = function() {
            var years = [];
            // get all the selected years
            $('#yearFilter option:selected').each(function(){
                if($(this).val() !== "") {
                    years.push($(this).val());
                }
            });
            // repopulate all origin data
            self.resetMutableData();
            // filter the data
            self.mutableData = self.mutableData.filter(function(chartPoint) {
                var currentYear = new Date(chartPoint.x).getFullYear().toString();
                if (years.length === 0 || jQuery.inArray(currentYear, years) !== -1) return chartPoint;
            })
            // update the chart to rebuild the line
            self.updateChartData();
        }
        // get the index of this dataset from the config of the chart
        self.getDataIndex = function() {
            if(self.index === null) {
                for (var i in myLineChart.config.data.datasets) {
                    if (myLineChart.config.data.datasets[i].id === self.id) {
                        self.index = i;
                        break;
                    }
                }
            }
            return self.index;

        }
        // update the chart dataset corresponding to this object
        self.updateChartData = function() {
            myLineChart.config.data.datasets[self.getDataIndex()].data = self.mutableData;
            myLineChart.update();
        }

        // set our mutable data to the origin ones
        self.resetMutableData = function(){
            self.mutableData = self.immutableData;
        }

        self.getData = function(){
            return self.mutableData;
        }
        // add an event listener on the year select
        $("#yearFilter").change(function(){
            self.filterByYear();
        });

    }

    // create our ChartPointList objects
    var averageDiskUsageStats = new ChartPointList(JSON.parse([[${averageDiskUsageStats}]]), averageDiskUsageId);
    var modelsCountStats = new ChartPointList(JSON.parse([[${modelsCountStats}]]), modelsCountId);
    var usersCountStats = new ChartPointList(JSON.parse([[${usersCountStats}]]), usersCountId);
    var diskUsageStats = new ChartPointList(JSON.parse([[${diskUsageStats}]]), diskUsageId);
    var projectsCountStats = new ChartPointList(JSON.parse([[${projectsCountStats}]]), projectsCountId);
    var averageModelsStats = new ChartPointList(JSON.parse([[${averageModelsStats}]]), averageModelsId);
    var averageProjectsStats = new ChartPointList(JSON.parse([[${averageProjectsStats}]]), averageProjectsId);

    function randomColorFactor() {
        return Math.round(Math.random() * 255);
    }

    function randomColor(opacity) {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
    }

    // prepare the config
    var config = {
        type: 'line',
        data: {
            xValueType: "dateTime",
            datasets: [{
                label: "Average disk usage",
                data: averageDiskUsageStats.getData(),
                fill: false,
                id: averageDiskUsageId,
                borderColor: "rgba(209, 223, 46, 0.4)", // yellow
                pointBackgroundColor: "rgba(227, 247, 7, 0.5)",
            },{
                label: "Models count",
                data: modelsCountStats.getData(),
                fill: false,
                id: modelsCountId,
                borderColor: "rgba(223, 124, 31, 0.4)", // orange
                pointBackgroundColor: "rgba(242, 121, 7, 0.5)",
            },{
                label: "Users count",
                data: usersCountStats.getData(),
                fill: false,
                id: usersCountId,
                borderColor: "rgba(118, 220, 40, 0.4)", // green
                pointBackgroundColor: "rgba(114, 237, 7, 0.5)",
            },{
                label: "Disk usage",
                data: diskUsageStats.getData(),
                fill: false,
                id: diskUsageId,
                borderColor: "rgba(43, 221, 192, 0.4)", // light blue
                pointBackgroundColor: "rgba(7, 242, 218, 0.5)",
            },{
                label: "Projects count",
                data: projectsCountStats.getData(),
                fill: false,
                id: projectsCountId,
                borderColor: "rgba(43, 93, 221, 0.4)", // dark blue
                pointBackgroundColor: "rgba(7, 19, 242, 0.5)",
            },{
                label: "Average models",
                data: averageModelsStats.getData(),
                fill: false,
                id: averageModelsId,
                borderColor: "rgba(218, 43, 221, 0.4)", // purple
                pointBackgroundColor: "rgba(242, 7, 242, 0.5)",
            },{
                label: "Average projects",
                data: averageProjectsStats.getData(),
                fill: false,
                id: averageProjectsId,
                borderColor: "rgba(221, 43, 46, 0.5)", // red
                pointBackgroundColor: "rgba(242, 7, 11, 0.6)",
            }]
        },
        options: {
            responsive: true,
            title:{
                display:true,
                text:"Historic"
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm',
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }, ],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'value'
                    }
                }]
            },
        }
    };

    $.each(config.data.datasets, function(i, dataset) {
        dataset.pointBorderColor = "rgba(0,0,0)";
        dataset.pointBorderWidth = 1;
    });

    myLineChart = new Chart(ctx, config);
    /**var ctxPieChart = document.getElementById("pieChart").getContext("2d");
    var myObject = [[${filesTypes}]];
    var labels = [];
    var data=[];
    for(var key in myObject)
    {
        labels.push(key);
        data.push(myObject[key]);
    }
    var chartData = {
        labels: labels,
        datasets: [
            {
                data: data,
            }]
    };
    console.log(chartData);
    var myPieChart = new Chart(ctxPieChart,{
        type: 'pie',
        data: chartData,
        options : {segmentShowStroke : false,
            animateScale : true}
    });**/


</script>
</body>
</html>