<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/WEB-CONTENT/materialize/css/materialize.css}"/>
    <link rel="stylesheet" th:href="@{/WEB-CONTENT/css/main.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div th:fragment="body">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <h3 style="margin-top:0">Statistics</h3>
                        <div class="half-width">
                            <div class="statistics">
                                <i class="medium-icon material-icons">account_box</i>
                                <strong>Users : </strong><span th:text="${statistics.usersCount}"></span>
                            </div>
                            <div class="statistics">
                                <i class="medium-icon material-icons">folder_shared</i>
                                <strong>Projects : </strong><span th:text="${statistics.projectsCount}"></span>
                            </div>
                            <div class="statistics">
                                <i class="medium-icon material-icons">view_module</i>
                                <strong>Models : </strong><span th:text="${statistics.modelsCount}"></span>
                            </div>
                            <div class="statistics">
                                <i class="medium-icon material-icons">data_usage</i>
                                <strong>Disk usage : </strong><span th:text="${statistics.diskUsage}"></span> MB
                            </div>
                        </div>
                        <div class="half-width">
                            <div class="statistics">
                                <strong>Average projects / user : </strong>
                                <span th:text="${statistics.averageProjects}"></span>
                            </div>
                            <div class="statistics">
                                <strong>Average models / user : </strong>
                                <span th:text="${statistics.averageModels}"></span>
                            </div>
                            <div class="statistics">
                                <strong>Average disk usage / user : </strong>
                                <span th:text="${statistics.averageDiskUsageMB}"></span> MB
                            </div>
                        </div>
                        <canvas id="filesTypesCharts" style="width: 300px; height:300px;"></canvas>
                        <br/>
                        <div class="input-field col s4">
                            <select id="yearFilter" multiple="multiple">
                                <option th:if="${minYear} == '' or ${maxYear} == ''" disabled="disabled">Aucune</option>
                                <div th:if="${minYear} != '' and ${maxYear} != ''">
                                    <option th:each="i : ${#numbers.sequence(minYear, maxYear)}" th:value="${i}"
                                            th:text="${i}"></option>

                                </div>
                            </select>
                            <label>Filter by year(s)</label>
                        </div>
                        <div class="input-field col s4">
                            <select id="monthFilter" multiple="multiple">
                                <option value="" disabled="disabled" selected="selected">Choose month(s)</option>
                                <option value="0">January</option>
                                <option value="1">February</option>
                                <option value="2">March</option>
                                <option value="3">April</option>
                                <option value="4">May</option>
                                <option value="5">June</option>
                                <option value="6">July</option>
                                <option value="7">August</option>
                                <option value="8">September</option>
                                <option value="9">October</option>
                                <option value="10">November</option>
                                <option value="11">December</option>
                            </select>
                            <label>Filter by month(s)</label>
                        </div>
                        <div class="input-field col s4">
                            <select id="dayFilter" multiple="multiple">
                                <option value="" disabled="disabled" selected="selected">Choose day(s)</option>
                                <option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}"
                                        th:text="${i}"></option>
                            </select>
                            <label>Filter by day(s)</label>
                        </div>
                        <canvas id="historyChart" width="600" height="400"></canvas>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div th:fragment="js">
    <script type="text/javascript" th:src="@{/WEB-CONTENT/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/WEB-CONTENT/js/Chart.js}"></script>
    <script type="text/javascript" th:src="@{/WEB-CONTENT/js/selectInitializer.js}"></script>

    <script type="text/javascript" th:inline="javascript">

        // retrieve data and store it in JS objects
        var averageDiskUsageStats = JSON.parse([[${averageDiskUsageStatsPoints}]]);
        var modelsCountStats = JSON.parse([[${modelsCountStatsPoints}]]);
        var usersCountStats = JSON.parse([[${usersCountStatsPoints}]]);
        var diskUsageStats = JSON.parse([[${diskUsageStatsPoints}]]);
        var projectsCountStats = JSON.parse([[${projectsCountStatsPoints}]]);
        var averageModelsStats = JSON.parse([[${averageModelsStatsPoints}]]);
        var averageProjectsStats = JSON.parse([[${averageProjectsStatsPoints}]]);
        var filesTypesData = [[${filesTypes}]];

    </script>

    <script th:src="@{/WEB-CONTENT/js/dashboard-chart.js}"></script>
</div>

</body>
</html>
