<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/WEB-CONTENT/materialize/css/materialize.css}"/>
    <link rel="stylesheet" th:href="@{/WEB-CONTENT/css/main.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div th:include="header :: hnav"></div>


<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <h3 style="margin-top:0">Statistics</h3>
                    <div class="half-width">
                        <div class="statistics">
                            <i class="medium-icon material-icons">account_box</i>
                            <strong>Users : </strong><span th:text="${usersCount}"></span>
                        </div>
                        <div class="statistics">
                            <i class="medium-icon material-icons">folder_shared</i>
                            <strong>Projects : </strong><span th:text="${projectsCount}"></span>
                        </div>
                        <div class="statistics">
                            <i class="medium-icon material-icons">view_module</i>
                            <strong>Models : </strong><span th:text="${modelsCount}"></span>
                        </div>
                        <div class="statistics">
                            <i class="medium-icon material-icons">data_usage</i>
                            <strong>Disk usage : </strong><span th:text="${diskUsage}"></span> MB
                        </div>
                    </div>
                    <div class="half-width">
                        <div class="statistics">
                            <strong>Average projects / user : </strong>
                            <span th:text="${averageProjects}"></span>
                        </div>
                        <div class="statistics">
                            <strong>Average models / user : </strong>
                            <span th:text="${averageModels}"></span>
                        </div>
                        <div class="statistics">
                            <strong>Average disk usage / user : </strong>
                            <span th:text="${averageDiskUsage}"></span> MB
                        </div>
                    </div>
                    <span th:text="${filetype}"></span>
                    <div class="input-field col s12">
                        <select id="selectFilter">
                            <option value="" disabled="disabled" selected="selected">Choose your option</option>
                            <option value="1993">Year 1993</option>
                            <option value="reset">Reset</option>
                        </select>
                        <label>Materialize Select</label>
                    </div>
                    <!--<h4>Historic per month </h4>
                    <div><a id="choose-historic" class='dropdown-button btn' href='#' data-activates='historic-choices'>Choose
                        an historic</a></div>-->
                    <canvas id="historyChart" width="600" height="400"></canvas>
                    <!--<img style="width: 100%;height: auto" th:src="@{/WEB-CONTENT/img/ChartJS.png}"/>-->
                </div>

            </div>
        </div>
    </div>

</div>
<!--<ul id='historic-choices' class='dropdown-content'>
    <li><a href="#!" onclick="changeHistoric('Number of users')" class='historic-choice'>Number of users</a></li>
    <li><a href="#!" onclick="changeHistoric('Number of generations')" class='historic-choice'>Number of generations</a>
    </li>
    <li><a href="#!" onclick="changeHistoric('Number of created projects')" class='historic-choice'>Number of created
        projects</a></li>
</ul>-->
<div th:include="footer :: foot"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script type="text/javascript" th:src="@{/WEB-CONTENT/materialize/js/materialize.js}"></script>
<script type="text/javascript" th:src="@{/WEB-CONTENT/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/WEB-CONTENT/js/Chart.js}"></script>
<script type="text/javascript" th:src="@{/WEB-CONTENT/js/selectInitializer.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var timeFormat = 'MM/DD/YYYY HH:mm';
    var ctx = document.getElementById("historyChart").getContext("2d");
    var myLineChart = null;
    var averageDiskUsageId = "averageDiskUsage";
    var modelsCountId = "modelsCount";
    var usersCountId = "usersCount";
    var diskUsageId = "diskUsage";
    var projectsCountId = "projectsCount";
    var averageModelsId = "averageModels";
    var averageProjectsId = "averageProjects";

    function ChartPointList(jsonData, id) {
        var self = this;
        self.id = id;
        self.immutableData = jsonData;
        self.mutableData = jsonData;
        self.filterByYear = function(year) {
            self.resetMutableData();
            self.mutableData = self.mutableData.filter(function(chartPoint) {
                var currentYear = new Date(chartPoint.x).getFullYear();
                if (new Date(chartPoint.x).getFullYear() == year) return chartPoint;
            })
            self.updateChartData();

        }
        self.getDataIndex = function() {
            for(var i in myLineChart.config.data.datasets) {
                if(myLineChart.config.data.datasets[i].id === self.id) {
                    return i;
                }
            }
        }
        self.updateChartData = function() {
            myLineChart.config.data.datasets[self.getDataIndex()].data = self.mutableData;
            myLineChart.update();
        }
        self.resetMutableData = function(){
            self.mutableData = self.immutableData;
        }
        self.getData = function(){
            return self.mutableData;
        }
        $("#selectFilter").change(function() {
                var val = $('#selectFilter option:selected').val();
                if(val === "reset") {
                    self.resetMutableData();
                    self.updateChartData();
                } else {
                   self.filterByYear(1993);
                }
        });
    }
    var averageDiskUsageStats = new ChartPointList(JSON.parse([[${averageDiskUsageStats}]]), averageDiskUsageId);
    var modelsCountStats = new ChartPointList(JSON.parse([[${modelsCountStats}]]), modelsCountId);
    var usersCountStats = new ChartPointList(JSON.parse([[${usersCountStats}]]), usersCountId);
    var diskUsageStats = new ChartPointList(JSON.parse([[${diskUsageStats}]]), diskUsageId);
    var projectsCountStats = new ChartPointList(JSON.parse([[${projectsCountStats}]]), projectsCountId);
    var averageModelsStats = new ChartPointList(JSON.parse([[${averageModelsStats}]]), averageModelsId);
    var averageProjectsStats = new ChartPointList(JSON.parse([[${averageProjectsStats}]]), averageProjectsId);

    function randomColorFactor() {
        return Math.round(Math.random() * 255);
    }

    function randomColor(opacity) {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
    }

    var config = {
        type: 'line',
        data: {
            xValueType: "dateTime",
            datasets: [{
                label: "Average disk usage",
                data: averageDiskUsageStats.getData(),
                fill: false,
                id: averageDiskUsageId,
            },{
                label: "Models count",
                data: modelsCountStats.getData(),
                fill: false,
                id: modelsCountId,
            },{
                label: "Users count",
                data: usersCountStats.getData(),
                fill: false,
                id: usersCountId,
            },{
                label: "Disk usage",
                data: diskUsageStats.getData(),
                fill: false,
                id: diskUsageId,
            },{
                label: "Projects count",
                data: projectsCountStats.getData(),
                fill: false,
                id: projectsCountId,
            },{
                label: "Average models",
                data: averageModelsStats.getData(),
                fill: false,
                id: averageModelsId,
            },{
                label: "Average projects",
                data: averageProjectsStats.getData(),
                fill: false,
                id: averageProjectsId,
            }]
        },
        options: {
            responsive: true,
            title:{
                display:true,
                text:"Historic"
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm',
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }, ],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'value'
                    }
                }]
            },
        }
    };

    $.each(config.data.datasets, function(i, dataset) {
        dataset.borderColor = randomColor(0.4);
        dataset.backgroundColor = randomColor(0.5);
        dataset.pointBorderColor = randomColor(0.7);
        dataset.pointBackgroundColor = randomColor(0.5);
        dataset.pointBorderWidth = 1;
    });

    myLineChart = new Chart(ctx, config);
    /**var ctxPieChart = document.getElementById("pieChart").getContext("2d");
    var myObject = [[${filesTypes}]];
    var labels = [];
    var data=[];
    for(var key in myObject)
    {
        labels.push(key);
        data.push(myObject[key]);
    }
    var chartData = {
        labels: labels,
        datasets: [
            {
                data: data,
            }]
    };
    console.log(chartData);
    var myPieChart = new Chart(ctxPieChart,{
        type: 'pie',
        data: chartData,
        options : {segmentShowStroke : false,
            animateScale : true}
    });**/


</script>
</body>
</html>