<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="materialize/css/materialize.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <title>Users</title>
</head>
<body>

<div class="container">

        <h1>Users list</h1>
        <table class="bordered striped responsive-table">
            <thead>
            <tr>
                <th><a th:href="@{/users(filter=login, order=((${param.order[0]} == 'ASC' and ${param.filter[0]} == 'login') ? 'DESC' : 'ASC' ))}">Login (id)</a></th>
                <th><a th:href="@{/users(filter=creationDate)}">CreationDate</a></th>
                <th>Last login date</th>
                <th>Connected</th>
                <th><a th:href="@{/users(filter=mail)}">Mail</a></th>
                <th><a th:href="@{/users(filter=diskUsage)}">Disk space</a></th>
                <th><a th:href="@{/users(filter=projectsCount)}">Projects count</a></th>
                <th><a th:href="@{/users(filter=modelsCount)}">Models count</a></th>
                <th><a th:href="@{/users(filter=generationsCount)}">Generations count</a></th>
            </tr>
            </thead>
            <tr th:each="user : ${#lists.sort(users, comparator)}">
                <td><a th:text="${user.login}" th:href="@{/user(username=${user.login})}"></a></td>
                <td th:text="${user.creationDate}">Yesterday</td>
                <td>osef</td>
                <td>Yes</td>
                <td th:text="${user.mail}"></td>
                <td th:text="${user.diskUsage}"></td>
                <td th:text="${user.projectsCount}"></td>
                <td th:text="${user.modelsCount}"></td>
                <td th:text="${user.generationsCount}"></td>
            </tr>
        </table>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>
</html>
