<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="materialize/css/materialize.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <title>User's project</title>
</head>
<body>

<table class="bordered striped responsive-table">
    <thead>
        <tr>
            <td>Project Name</td>
            <td>Creation Date</td>
            <td>Last generation date</td>
            <td># Generations</td>
            <td># Bundles</td>
            <td>Disk Spaces</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Project1</td>
            <td>2016-02-26</td>
            <td>2016-02-26</td>
            <td>12</td>
            <td>2</td>
            <td>12 mb</td>
        </tr>
        <tr>
            <td>Project2</td>
            <td>2016-02-26</td>
            <td>2016-02-26</td>
            <td>12</td>
            <td>2</td>
            <td>12 mb</td>
        </tr>
        <tr>
            <td>Project3</td>
            <td>2016-02-26</td>
            <td>2016-02-26</td>
            <td>12</td>
            <td>2</td>
            <td>12 mb</td>
        </tr>
    </tbody>
</table>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>
</html>