<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/WEB-CONTENT/materialize/css/materialize.css"/>
    <link rel="stylesheet" href="/WEB-CONTENT/css/main.css"/>
    <title>User info</title>
</head>
<body>
<div th:include="header :: hnav"></div>

<div class="container">
    <h1>User info</h1>

    <table class="bordered striped responsive-table user-info">
        <tr>
            <td>Login</td>
            <td th:text="${user.login}"></td>
        </tr>
        <tr>
            <td>Mail</td>
            <td th:text="${user.mail}"></td>
        </tr>
        <tr>
            <td>Creation date</td>
            <td th:text="${user.creationDate}"></td>
        </tr>
        <tr>
            <td>Country (origin browser)</td>
            <td th:text="${user.country}"></td>
        </tr>
        <tr>
            <td>Language (origin browser)</td>
            <td th:text="${user.language}"></td>
        </tr>
        <tr>
            <td>Last login</td>
            <td th:text="${user.lastConnectionDate}"></td>
        </tr>
        <tr>
            <td>Generations count</td>
            <td th:text="${userStats.generationsCount}"></td>
        </tr>
        <tr>
            <td>Disk space used</td>
            <td th:text="${userStats.diskUsage}"></td>
        </tr>
        <tr>
            <td>Projects count</td>
            <td th:text="${userStats.projectsCount}"></td>
        </tr>
        <tr>
            <td>Models count</td>
            <td th:text="${userStats.modelsCount}"></td>
        </tr>
        <tr>
            <td>Bundles count</td>
            <td th:text="${userStats.bundlesCount}"></td>
        </tr>
    </table>

    <br/>

    <table class="bordered striped responsive-table">
        <thead>
        <tr>
            <td>Project Name</td>
            <td>Creation Date</td>
            <td>Last generation date</td>
            <td># Generations</td>
            <td># Bundles</td>
            <td>Disk Spaces</td>
        </tr>
        </thead>

        <tbody>


        <tr th:each="project : ${projectStats}">
            <td th:text="${project.projectName}"></td>
            <td th:text="${project.creationDate}"></td>
            <td th:text="${project.lastGenerationDate}"></td>
            <td th:text="${project.generationsCount}"></td>
            <td th:text="${project.bundlesCount}"></td>
            <td th:text="${project.diskUsage}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:include="footer :: foot"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script type="text/javascript" src="/WEB-CONTENT/materialize/js/materialize.js"></script>
</body>
</html>