<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="materialize/css/materialize.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.js"></script>
    <link rel="stylesheet" href="css/main.css"/>
    <title>Users</title>
</head>
<body>

<div class="container">

        <h1>Users list</h1>

        <table class="bordered striped responsive-table">
            <thead>
            <tr>
                <th>Login (id)</th>
                <th>Creation date</th>
                <th>Last login date</th>
                <th>Connected</th>
                <th>Mail</th>
                <th>Disk space</th>
                <th>Projects count</th>
                <th>Models count</th>
                <th>Generations count</th>
            </tr>
            </thead>
            <tr th:each="user : ${#lists.sort(users, comparator)}">
                <td><a th:text="${user.login}" th:href="@{/user(username=${user.login})}">${user.login}</a></td>
                <td th:text="${user.creationDate}">Yesterday</td>
                <td>osef</td>
                <td>Yes</td>
                <td th:text="${user.mail}"></td>
                <td th:text="${user.diskUsage}"></td>
                <td th:text="${user.projectsCount}"></td>
                <td th:text="${user.modelsCount}"></td>
                <td th:text="${user.generationsCount}"></td>
            </tr>
        </table>
</div>
</body>
</html>