<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="materialize/css/materialize.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.js"></script>
    <link rel="stylesheet" href="css/main.css"/>
    <title>User info</title>
</head>
<body>

<div class="container">
    <h1>User info</h1>

    <table class="bordered user-info">
        <tr>
            <td>Login</td>
            <td>Arthur</td>
        </tr>
        <tr>
            <td>Mail</td>
            <td>arthur@foo.fr</td>
        </tr>
        <tr>
            <td>Creation date</td>
            <td>2016-02-23</td>
        </tr>
        <tr>
            <td>Country (origin browser)</td>
            <td>FR</td>
        </tr>
        <tr>
            <td>Language (origin browser)</td>
            <td>FR</td>
        </tr>
        <tr>
            <td>Last login</td>
            <td>2016-03-26</td>


        </tr>
        <tr>
            <td>Generations count</td>
            <td>14</td>
        </tr>
        <tr>
            <td>Disk space used</td>
            <td>27MB</td>
        </tr>
        <tr>
            <td>Projects count</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Models count</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Bundles count</td>
            <td>12</td>
        </tr>
    </table>

    <div class="row">
    <a class="btn waves-effect waves-light">Remove</a>

    </div>

</div>

</body>
</html>