<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/WEB-CONTENT/materialize/css/materialize.css"/>
    <link rel="stylesheet" href="/WEB-CONTENT/css/main.css"/>
    <title>Users</title>
</head>
<body>

<div th:include="header :: hnav"></div>

<div class="container">
    <!-- comment -->

        <h1>Users list</h1>
        <table class="bordered striped responsive-table">
            <thead>
            <tr>
                <th><a th:href="@{/do/users(filter=login, order=((${param.order} != null and ${param.order[0]} == 'ASC' and ${param.filter} != null and ${param.filter[0]} == 'login') ? 'DESC' : 'ASC' ))}">Login (id)</a></th>
                <th><a th:href="@{/do/users(filter=creationDate, order=((${param.order} != null and ${param.order[0]} == 'ASC' and ${param.filter} != null and ${param.filter[0]} == 'creationDate') ? 'DESC' : 'ASC' ))}">CreationDate</a></th>
                <th>Last login date</th>
                <th>Connected</th>
                <th><a th:href="@{/do/users(filter=mail, order=((${param.order} != null and ${param.order[0]} == 'ASC' and ${param.filter} != null and ${param.filter[0]} == 'mail') ? 'DESC' : 'ASC' ))}">Mail</a></th>
                <th><a th:href="@{/do/users(filter=diskUsage, order=((${param.order} != null and ${param.order[0]} == 'ASC' and ${param.filter} != null and ${param.filter[0]} == 'diskUsage') ? 'DESC' : 'ASC' ))}">Disk space</a></th>
                <th><a th:href="@{/do/users(filter=projectsCount, order=((${param.order} != null and ${param.order[0]} == 'ASC' and ${param.filter} != null and ${param.filter[0]} == 'projectsCount') ? 'DESC' : 'ASC' ))}">Projects count</a></th>
                <th><a th:href="@{/do/users(filter=modelsCount, order=((${param.order} != null and ${param.order[0]} == 'ASC' and ${param.filter} != null and ${param.filter[0]} == 'modelsCount') ? 'DESC' : 'ASC' ))}">Models count</a></th>
                <th><a th:href="@{/do/users(filter=generationsCount, order=((${param.order} != null and ${param.order[0]} == 'ASC' and ${param.filter} != null and ${param.filter[0]} == 'generationsCount') ? 'DESC' : 'ASC' ))}">Generations count</a></th>
            </tr>
            </thead>
            <tr th:each="user : ${users}">
                <td><a th:text="${user.login}" th:href="@{/do/user(username=${user.login})}"></a></td>
                <td th:text="${user.creationDate}">Yesterday</td>
                <td>osef</td>
                <td>Yes</td>
                <td th:text="${user.mail}"></td>
                <td th:text="${user.diskUsage}"></td>
                <td th:text="${user.projectsCount}"></td>
                <td th:text="${user.modelsCount}"></td>
                <td th:text="${user.generationsCount}"></td>
            </tr>
        </table>
        <ul class="pagination">
        	<li th:class="${currentPage} == 1 ? disabled : waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		    <li th:class="${i} == ${currentPage} ? active : waves-effect" th:each="i : ${#numbers.sequence(1, maxPage)}"><a th:href="@{${currentUri}(page=${i})}" th:text="${i}"></a></li>
		    <li th:class="${maxPage} == ${currentPage} ? disabled : waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
		</ul>
</div>

<div th:include="footer :: foot"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script type="text/javascript" src="/WEB-CONTENT/materialize/js/materialize.js"></script>
</body>
</html>
