<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../materialize/css/materialize.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="../materialize/js/materialize.js"></script>
    <link rel="stylesheet" href="../css/main.css"/>

    <title>User's Models</title>
</head>
<body>

<table class="bordered striped responsive-table">
    <thead>
    <tr>
        <td>Project Name</td>
        <td>Model Name</td>
        <td>Creation Date</td>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Project1</td>
        <td>fgrger.model</td>
        <td>2016-02-26</td>
    </tr>
    <tr>
        <td>Project2</td>
        <td>fgrger.model</td>
        <td>2016-02-26</td>
    </tr>
    <tr>
        <td>Project3</td>
        <td>fgrger.model</td>
        <td>2016-02-26</td>
    </tr>
    </tbody>
</table>

</body>
</html>