		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Sdf' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'sdf.myfield' | translate }}</th>
						<th><a class="btn btn-info" href='#/sdf/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="sdf in sdfs">
						<td>{{sdf.myfield}}</td>
						<td><a class="btn btn-info" href="#/sdf/no_primary_key_for_entity_Sdf">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
